.heading {
  margin: 5rem 0rem 3rem 0rem;
  font-size: 42px;
  color: green;
  text-align: center;
  font-family: 'Josefin Sans';
}

.canvas {
  border: green solid 2px;
}

.frame-control {
  text-align: center;
}

.action-dot {
  margin: 1rem;
  border-radius: 50%;
  border: green solid 2px;
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  cursor: pointer;
}

.action-dot.active {
  background: green;
  box-shadow: 0px 0px 9px 0px green;
}

.meta-info {
  margin: 1rem;
  font-family: 'Josefin Sans';
  font-size: 1rem;
}

.meta-info div {
  display: inline-block;
}

.meta-info .sent-at:before {
  content: "\00a0@\00a0";
}
